@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #5B4A3C; /* Marrón profundo, como el tronco del logo */
  --secondary: #6D8E4E; /* Marrón cálido, ya lo tenías, funciona muy bien */
  --accent: #D4A048; /* Dorado suave, como el sol del logo */
  --background: #FAF7F2; /* Beige claro, imita el fondo del logo */
  --surface: #F1EAE0; /* Color para tarjetas, secciones secundarias */
  --text: #3C2F2F; /* Marrón oscuro, más suave que el negro */
  --highlight: #6D8E4E; /* Verde oliva natural para detalles sutiles */
}
body {
  color: var(--text);
  background-color: var(--background);
}



@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.btn-primary {
  @apply bg-[var(--primary)] hover:bg-green-800 text-white py-2 px-4 rounded transition-all;
}

.btn-secondary {
  @apply bg-[var(--secondary)] hover:bg-[#8C6239] text-white py-2 px-4 rounded transition-all;
}
