@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3B6D39; /* Verde bosque */
  --secondary: #A67C52; /* Marrón cálido */
  --accent: #FFD700; /* Dorado suave */
  --background: #F5F5F5; /* Fondo claro */
  --text: #333333; /* Texto gris oscuro */
}

body {
  color: var(--text);
  background-color: var(--background);
}



@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.btn-primary {
  @apply bg-[var(--primary)] hover:bg-green-800 text-white py-2 px-4 rounded transition-all;
}

.btn-secondary {
  @apply bg-[var(--secondary)] hover:bg-[#8C6239] text-white py-2 px-4 rounded transition-all;
}
